<h1> New Speaker from </h1>

<%= form_for @speaker, url: speakers_path do |f| %>
  
  
   <p>
       <div class="label"><%= f.label 'name:' %></div>
       <%speakers = Speaker.all.collect(&:name).compact.uniq%>
       
        <div class="filed"><%= f.select  :name, options_for_select(speakers.collect{ |u| [u] })%></div>
   </p>
   <p>   
          <%= f.submit 'create' %>
<%end%>
