<h1> New Event from </h1>

<%= form_for @speaker, url: speakers_path do |f| %>
   <p>   
   <div class="label"><%= f.label 'name:' %></div>
      <div class="filed"><%= f.text_field :name %></div>
   </p>
   
     <%= f.submit 'create' %>
<%end%>
